<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove-sign"></span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>

      <div class="modal-body"></div>
        <form id="photo-upload-form" action="" method="">
          <p>Upload your photo:</p>
          <input type="file" name="user-photo" /><br />
          <input type="text" name="photo-description"/><br />
        </form>
      <div class="modal-footer">
        <input type="submit" id="upload-btn" value="Upload" />
      </div>
    </div>
  </div>
</div>