
  <div class="container">
    <h1>Photos</h1>
      <form id="photo-upload-form" action="" method="">
        <p>Upload your photo:</p>
        <input type="file" name="user-photo" /><br />
        <input type="text" name="photo-description"/><br />
        <input type="submit" value="Upload" />
      </form>
