<%= render 'nav' %> <!-- nav bar -->
<%= render 'show' %> <!-- show modal -->
<%= render 'uploadform' %> <!-- new modal-->





<div class="container">

  <h1>User Profile</h1>
  <div class="user-profile">
    <img class="img-responsive" src="/photos/clouds-wallpaper-2.jpg">
  </div>

  <div class="grid"></div>
</div>
