
<div id="start-banner">

<%= render 'nav' %> <!-- nav bar -->


  <div id="start-words">
    <h1>Welcome to 200px</h1>
  </div>

</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="start-info-header">
          <h3>Welcome to a photography community unlike any you've seen</h3>
          <div class="col-sm-6 col-sm-offset-3">
            <p>This site is here to celebrate amateur and professional photographers alike by providing you with a platform to share your photographs with each other.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-4">

      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row feature-container">
      <div class="col-sm-4 col-sm-offset-2 feature-title1">
        <h2>Explore The Most Inspiring Pictures</h2>
        <div id="feature-pic1"></div>
        <p>Your home page contains a live feed of all user's pictures - be inspired.</p>
      </div>
      <div class="col-sm-4 feature-title2">
        <h2 class="feature-title">Connect With Like Minded Individuals</h2>
        <div id="feature-pic2"></div>
        <p>Connect with like minded individuals and share your portfolio with each other.</p>
      </div>
    </div>
  </div>