// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid {
  background: #DDD;

  .grid-item {
    float: left;
    // background: #0D8;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.7);
    padding: 5px;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

/* clear fix */
// .grid:after {
//   content: '';
//   display: block;
//   clear: both;
// }
