// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid {
  background: white;

  .grid-item {
    float: left;
    // border: 2px solid #333;
    // border-color: hsla(0, 0%, 0%, 0.7);
    padding: 5px;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

h1 {
  text-align: center;
}
.user-profile {
  height: 400px;
  margin-bottom: 20px;
}



